
body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    margin: 0;
}

/* HEADER */
#header {
    position: fixed;
    display: flex;
    height: 69px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: inherit;
}

#header .flex-item {
    padding: 0px 10px;
}

#header .nav-link {
    color: seashell;
    padding: 0px 10px;
}

/* MISSION */
#mission {
    display: flex;
    align-items: center;
    background-image: url("img/img-mission-background.webp");
    background-position: center;
    font-weight: bold;
    height: 700px;
    background-repeat: no-repeat;
}

#mission .title {
    width: 100%;
    background-color: black;
}

#mission .title * {
    margin: 16px;
} 

/* FEATURED */
#featured {
    padding-top: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
}

#tea-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea-card {
    padding: 0px 16px;
}

.tea-card p {
    margin-top: 16px;
}

.tea-card img {
    height: 200px;
    width: 300px;
}

/* LOCATIONS */
#locations {
    background-image: url("img/img-locations-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin: 32px unset;
}

#locations h2 {
    padding-top: 64px;
    margin-block-end: 0px;
}

#location-container {
    display: flex;
    justify-content: center;
}

.location-card {
    background-color: black;
    width: 300px;
    opacity: 1;
    margin: 20px;
}

.location-card  * {
    margin: 16px;
}

/* FOOTER */
#footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer h2, #footer h5 {
    margin: 16px;
}

#footer h6 {
    text-align: left;
}