body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    margin: 0px;
}

#header {
    position: fixed;
    display: flex;
    height: 69px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: inherit;
}

#header .flex-item {
    padding: 0px 10px;
}

#header .nav-link {
    color: seashell;
    padding: 0px 10px;
}

#mission {
    background-image: url("img/img-mission-background.webp");
    height: 700px;
}